.modal-content {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    webki
  }
  
  h2 {
    font-size: 24px;
    margin-top: 0;
  }
  
  ul {
    list-style: disc;
    padding-left: 20px;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  